/* Make page fit window */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Must set map height in order to define the size of the div that contains it -- Google Maps docs */
#map {
  height: 100vh;
}
